/* for use with home.php*/
.groupmember_name, .groupreplylikes_name, .groupcommentlikes_name, .eventlikes_name, .eventcommentlikes_name, .eventreplylikes_name, .eventlike_name
{
	position:relative; bottom:50px;
}
.commenting_event, .commenting_eventcomment, .commenting_groupcomment
{
	position:relative;	left:40px;
}

.grouplink, #groupbarheader
{
	font-size:16;
	line-height: 1.5em;
	color:black;
}

.event
{
	border-bottom:1px solid #f0f0f0;
	padding:10px;
}

.username, .msg, .eventreply_likebox, .eventcomment_likebox, .groupreply_likebox, .groupcomment_likebox
{
	position:relative;
	left:55px;
	float:right;
	width:98%
}

.filler
{
	color:$f0f0f0 !important;
}

.eventbod
{
	padding:20px;
	background-color:#f0f0f0;
}

.msgbox, .event_reply, .group_reply
{
	padding:5px;
	border:5px solid #ffffff;
	background-color:#f0f0f0;
}
.eventcomment_pic, .eventreply_pic, .groupcomment_pic, .groupreply_pic
{
	float:left;
	width:2%;
}
 
.grouplink_container:hover
{
	background-color:#D0E8FF;
}

.highlighted
{
	background-color:#C6DEFF;
}

.liker
{
	position:relative;
	left:15px;
}

.showhide
{
	position:relative;
	bottom:18px;
	left:25px;
}

.del
{
	position:relative;
	left:67px;
}

.eventname
{
	font-size:1.5em;
	color:black;
    float: left;    
}

.eventgroupname
{
	color:black;
}

.eventgroupname
{
	font-size:1.25em;
    float: right;
}

.eventbodhead
{
	height:30px;
	display:block;
}

.eventdsc
{
	font-style:italic;
}
	
.right
{
	padding-left:10px;
	border-left:1px solid #f0f0f0;
}

#message, #message2
{
	padding-left:10px;
}

.groupname
{
	font-size:1.5em;
	color:black;
}